*,body,html{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgb(147, 214, 149);
}

.title{
  
    margin-top: 50px;
    font-size: 75px;
}

.para{
   
    font-size: 40px;
}


#btn{
    margin: 0 auto;
    margin-top: 10px;
    width: 50% auto;
    font-size: large;
}

#remove{
    margin: 0 auto;
    margin-top: 10px;
    width: 50% auto;
    font-size: large;

}

.text {
    margin: 0 auto;
    margin-top: 10px;
    font-size: large;
   
}






