*,body,html{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgb(147, 214, 149);
}

.title{
    text-align: center;
    margin-top: 50px;
    font-size: 75px;
}

.area{
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   */
} 
    

.button{
  
}

.text {
    /* display: block;
    margin: 0 auto;
    margin-top: 50px;
    width: 50% auto;
    height: 50px;
    font-size: large;
    text-align: center; */
}



